TELEGRAM_BOT_TOKEN=isi_token_dari_BotFather
DATA_FILE=./data/tasks.json
ELIGIBILITY_DATA_FILE=./data/eligibility.json
DEFAULT_TIMEZONE=Asia/Jakarta
DEFAULT_UTC_OFFSET=+07:00
REMINDER_INTERVAL_MS=30000
